# dependencies
node_modules/
.pnp
.pnp.js

# build output
dist/
dist-ssr/
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs/
*.log

# capacitor / android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/release/
android/app/debug/
android/captures/
*.keystore
!debug.keystore
.cxx/

# env
.env
.env.local
.env.*.local

# TypeScript incremental build info
*.tsbuildinfo
